<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech by Robert</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/index.css')}}"
    />
  </head>
  <body>
    <div id="speechContainer"></div>
    <h2>Speech Converter</h2>
    <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <br />
      <input type="submit" value="Convert" />
    </form>
    {% if transcript !=""%}
    <div id="output">
      <h2>Trnasciprt</h2>
      <p>{{transcript}}</p>
      {% endif %}
    </div>
  </body>
</html>
